body {
backgound-color: rgb(74, 21, 112);
}
h1 {
  color: white;
  font-family: harrington;
}
  
*{
    font-size: 125px;
    text-align: center;
    color: red;
}
input{
    font-size: 50px;
    text-align: center;
    color: red;
}
