body {
backgound: url(https://es.dreamstime.com/foto-de-archivo-calculadora-un-fondo-image39034340) 
}
h1 {
  color: white;
  font-family: harrington;
}
  
*{
    font-size: 125px;
    text-align: center;
    color: red;
}
input{
    font-size: 50px;
    text-align: center;
    color: red;
}
